.tw-standarButton {
    margin-left: 16px;
    border: .75px solid #1da1f2;
    border-radius: 999px;
    padding: 6 16px;
    font-weight: bold;
}
.tw-standarButton:hover {
    background-color: #1da1f2;
    color: white;
    transition: 0.5s;
}

.tw-notFolowingButton {
    margin-left: 16px;
    border: .75px solid #1da1f2;
    border-radius: 999px;
    padding: 6 16px;
    font-weight: bold;
    background-color: gray;
    color: white;
}
.tw-notFolowingButton:hover {
    background-color: green;
    color: black;
    transition: 0.5s;
}

.tw-followingButton {
    margin-left: 16px;
    border: .75px solid #1da1f2;
    border-radius: 999px;
    padding: 6 16px;
    font-weight: bold;
    background-color: #1da1f2;
    color: white;
}
.tw-followingButton:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}