:root {
  --primary-background: #0c0d21;
  --primary-color: #9c7fd3;
  --primary-title: #ecb2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-background);
  color: var(--primary-color);
}